.row.mt-5
  .col-md-3
    = render 'nav'
  .col-md-6
    = form_for @user, url: registration_path(@user) do |f|
      .form-group
        = f.label :"Profile image"
        %br
        = image_tag @user.avatar.url(:thumb), class: "my-3"
        = f.file_field :avatar, class: "form-control"

      .form-group
        = f.label :"Current password"
        = f.password_field :current_password, class: "form-control"

      = f.submit "Update", class: "btn btn-primary", id: "appearance-btn-submit"
