.hero.d-flex.align-items-center.justify-content-center
  %h1.text-center.text-white.display-3 New Advertisement

= form_for @advertisement do |f|
  .form-group
    = f.label :title, maxlength: 15
    = f.text_field :title, class: "form-control"
  .form-group
    = f.label :category
    = f.select :category_id, options_for_select(@categories), {}, class: "form-control"
  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control"
  = f.submit "Save", class: "btn btn-primary"
