%div.container
%h1.display-5.text-center.mt-4 Categories

%section.categories
  - @categories.in_groups_of(4) do |categories_four|
    .row.mt-4
      - categories_four.each do |category|
        - unless category.nil?
          .col-md-3
            = link_to "categories/#{category.name.gsub(" ", "_")}", class: "category-item__link" do
              .category-item
                .category-item__icon
                  %i{class: category.icon}
                .category-item__text
                  = category.name

%section.promoted
  %h1.display-5.text-center.mt-4 Promoted near Walbrzych
  .row.mt-4
    .col-md-4
      .card
        %img.card-img-top{src: "https://loremflickr.com/320/240" }
        .card-body
          %h2.card-title.text-center Samochód Opel Astra
          %p.card-text Dolor labore fugit perspiciatis nulla mollitia? Ea molestiae illo eum
          = link_to "See More", "#", class: "btn btn-primary btn-block"
    .col-md-4.flex-column.d-flex
      .row
        .col-md-6
          .card.card-small
            %img.card-img-top{src: "https://loremflickr.com/320/240" }
            .card-body
              %h5.card-title.text-center Samochód Opel Astra
              = link_to "See More", "#", class: "btn btn-primary btn-block"
        .col-md-6
          .card.card-small
            %img.card-img-top{src: "https://loremflickr.com/320/240" }
            .card-body
              %h5.card-title.text-center Samochód Opel Astra
              = link_to "See More", "#", class: "btn btn-primary btn-block"
      .row.mt-3
        .col-md-6
          .card
            %img.card-img-top{src: "https://loremflickr.com/320/240" }
            .card-body
              %h5.card-title.text-center Samochód Opel Astra
              = link_to "See More", "#", class: "btn btn-primary btn-block"
        .col-md-6
          .card
            %img.card-img-top{src: "https://loremflickr.com/320/240" }
            .card-body
              %h5.card-title.text-center Samochód Opel Astra
              = link_to "See More", "#", class: "btn btn-primary btn-block"
    .col-md-4.flex-column.d-flex
      .row
        .col-md-6
          .card.card-small
            %img.card-img-top{src: "https://loremflickr.com/320/240" }
            .card-body
              %h5.card-title.text-center Samochód Opel Astra
              = link_to "See More", "#", class: "btn btn-primary btn-block"
        .col-md-6
          .card.card-small
            %img.card-img-top{src: "https://loremflickr.com/320/240" }
            .card-body
              %h5.card-title.text-center Samochód Opel Astra
              = link_to "See More", "#", class: "btn btn-primary btn-block"
      .row.mt-3
        .col-md-6
          .card
            %img.card-img-top{src: "https://loremflickr.com/320/240" }
            .card-body
              %h5.card-title.text-center Samochód Opel Astra
              = link_to "See More", "#", class: "btn btn-primary btn-block"
        .col-md-6
          .card
            %img.card-img-top{src: "https://loremflickr.com/320/240" }
            .card-body
              %h5.card-title.text-center Samochód Opel Astra
              = link_to "See More", "#", class: "btn btn-primary btn-block"

%section.latest
  %h1.display-5.text-center.mt-4 Recently added
  - @recent_ad.in_groups_of(6) do |recent_six|
    .row.mt-4
      - recent_six.each do |recent_item|
        - unless recent_item.nil?
          .col-md-2
            .card
              = image_tag recent_item.main_image.url, class: "card-img-top"
              .card-body
                %h2.card-title.text-center= recent_item.title
                %p.card-text.text-muted.text-center= recent_item.category.name
                %p.card-text= truncate(recent_item.description, length: 60)
                = link_to "See More", recent_item, class: "btn btn-primary btn-block"
