%div.container
%h1.display-5.text-center.mt-4 Categories

%section.categories
  - @categories.in_groups_of(4) do |categories_four|
    .row.mt-4
      - categories_four.each do |category|
        - unless category.nil?
          .col-md-3
            = link_to "categories/#{category.name.gsub(" ", "_")}", class: "category-item__link" do
              .category-item
                .category-item__icon
                  %i{class: category.icon}
                .category-item__text
                  = category.name

%section.promoted
  %h1.display-5.text-center.mt-4 Promoted in #{current_user.city_last_known}
  - @promoted_ads_in_city.in_groups_of(4).each do |promoted_ads|
    .row.mt-4
      - promoted_ads.each do |promoted_ad|
        - unless promoted_ad.nil?
          .col-md-3
            .card
              = image_tag promoted_ad.main_image.url(:small), class: 'card-img-top'
              .card-body
                %h3.card-title Test
                .card-text Test

%section.latest
  %h1.display-5.text-center.mt-4 Recently added
  - @recent_ads.in_groups_of(6) do |recent_six|
    .row.mt-4
      - recent_six.each do |recent_item|
        - unless recent_item.nil?
          .col-md-3
            .card
              = image_tag recent_item.main_image.url, class: "card-img-top"
              .card-body
                %h2.card-title.text-center= recent_item.title
                %p.card-text.text-muted.text-center= recent_item.category.name
                %p.card-text= truncate(recent_item.description, length: 60)
                = link_to "See More", recent_item, class: "btn btn-primary btn-block"
