%div.container
%h1.display-5.text-center.mt-4 Categories

%section.categories
  - @categories.in_groups_of(4) do |categories_four|
    .row.mt-4
      - categories_four.each do |category|
        - unless category.nil?
          .col-md-3
            = link_to "#", class: "category-item__link" do
              .category-item
                .category-item__icon
                  %i{class: category.icon}
                .category-item__text
                  = category.name
%h1.display-5.text-center.mt-4 Promoted near Walbrzych

%section.promoted
  .row.mt-4
    .col-md-4
      .card
        %img.card-img-top{src: "https://loremflickr.com/320/240" }
        .card-body
          %h2.card-title.text-center Samochód Opel Astra
          %p.card-text Dolor labore fugit perspiciatis nulla mollitia? Ea molestiae illo eum
          = link_to "See More", "#", class: "btn btn-primary btn-block"
    .col-md-4
      .card
        %img.card-img-top{src: "https://loremflickr.com/320/240" }
        .card-body
          %h2.card-title.text-center Title
          %p.card-text Dolor labore fugit perspiciatis nulla mollitia? Ea molestiae illo eum
          = link_to "See More", "#", class: "btn btn-primary btn-block"
    .col-md-4
      .card
        %img.card-img-top{src: "https://loremflickr.com/320/240" }
        .card-body
          %h2.card-title.text-center Title
          %p.card-text Dolor labore fugit perspiciatis nulla mollitia? Ea molestiae illo eum
          = link_to "See More", "#", class: "btn btn-primary btn-block"
