<!DOCTYPE html>
<html>
  <head>
    <title>ABC</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Lato:300,400' %>
    <%= stylesheet_link_tag "https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/nav' %>
      <%= render 'shared/search' if @search %>
      <%= yield %>
      <%= render 'shared/flash' if flash %>
    </div>
  </body>
</html>
