<!DOCTYPE html>
<html>
  <head>
    <title>ABC</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Lato:300,400' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= notice if notice %>
      <%= alert if alert %>
      <%= render 'shared/nav' %>
      <%= render 'shared/search' if @search %>
      <%= yield %>
    </div>
  </body>
</html>
